<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h5>Esqueci minha Senha</h5>
                </div>
                
                <hr/>

                <form [formGroup]="formPassword" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                        <label>Email de acesso:</label>
                        <input type="text" class="form-control" formControlName="email"
                            placeholder="Digite seu email aqui" />

                        <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                            <div *ngIf="form.email.errors.required">
                                Por favor, informe seu email.
                            </div>
                            <div *ngIf="form.email.errors.email">
                                Por favor, informe um email válido.
                            </div>
                        </div>
                    </div>

                    <div class="mb-1">
                        <div class="d-grid">
                            <input type="submit" value="Recuperar Senha" [disabled]="!formPassword.valid"
                                class="btn btn-primary" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="d-grid">
                            <button class="btn btn-light" [routerLink]="['/']">
                                Voltar para a tela de login
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>